#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#quote-container {
  margin-top: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  background-color: white;
  padding-left: 10px;
  padding-bottom: 20px;
  height: 25px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}
